body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f8f8f8;
}


.container {
  padding: 15px 0;
}

/*Aqui começa a parte do header da página*/

.cabecalho{
  height: 93px;
}

header {
  background-color: #6d8b89;
  color: #fff;
  width: 100%;
  position: fixed; /* Fixa o header no topo */
  opacity: 1; /* Opacidade inicial */
  transition: opacity 0.3s ease; /* Transição suave para a opacidade */
  z-index: 1000;
}

header.scrolled {
  opacity: 0.4;
}

header .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.apresentacao{
  display: flex;
  align-items: center;
  align-content: center;
  color: #d5e0b5;
  gap: 20px;
}

.name-university{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-university h2,
.name-university p{
  width: 100%;
  margin: 0;
}

.botoes-pagina{
  display: flex;
  justify-content: center;
}

.botoes-pagina button{
  color: #d5e0b5;
  border: 0px;
  border-radius: 0px;
}

.botoes-pagina button:hover{
  color: #a5c3a7;
  transform: scale(1.19);
  text-decoration: underline;
  text-decoration-color: #a5c3a7;
  text-decoration-thickness: 5px;
}

/*Aqui começa a parte do conteúdo principal da página*/
.conteudo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
}

.titleSection{
  display: flex;
  align-items: center;
  gap: 20px;
  color:#54b8b1;
  font-size: 30px;
}

.subtitleSection{
  display: flex;
  align-items: center;
  gap: 20px;
  color:#54b8b1;
  font-size: 20px;
  margin-left: 50px;
}


/*Apresentação pessoal*/

.sobreMim{
  width: 60%;
  display: flex;
  flex-direction: column;
}

.image-text-container {
  margin: 10px auto; /* Centraliza a div */
  text-align: justify;
}

.texto_contato {
  padding-top: 40px auto;
  margin: 30px auto; /* Centraliza a div */
  text-align: justify;
}

.float-image-left {
  float: left; /* Faz a imagem flutuar à esquerda */
  margin-right: 20px; /* Espaço entre a imagem e o texto */
  width: 150px; /* Largura da imagem, ajuste conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  margin: 20px;
  border-radius: 10px;
}

.image-text-container::after {
  content: "";
  display: table;
  clear: both; /* Limpa o float para evitar problemas de layout */
}

.social_medias{
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  margin: 10px;
}

.social_medias i{
  color: #3a3838;
}

/*Pesquisa*/

.float-image-right {
  float: right; /* Faz a imagem flutuar à esquerda */
  margin-right: 20px; /* Espaço entre a imagem e o texto */
  width: 150px; /* Largura da imagem, ajuste conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  margin: 20px;
  border-radius: 10px;
}



.pesquisa{
  width: 60%;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #6d8b89;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}
