body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*Aqui começa a parte do conteúdo principal da página*/
.conteudo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

section {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.titleSection{
  display: flex;
  align-items: center;
  gap: 20px;
  color:#004590;
  font-size: 30px;
}

.subtitleSection{
  display: flex;
  align-items: center;
  gap: 20px;
  color:#1766b5;
  font-size: 20px;
  margin-left: 50px;
}

/*Pesquisa*/

.float-image-right {
  float: right; /* Faz a imagem flutuar à esquerda */
  margin-right: 20px; /* Espaço entre a imagem e o texto */
  width: 150px; /* Largura da imagem, ajuste conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  margin: 20px;
  border-radius: 10px;
}

.pesquisa{
  width: 60%;
  display: flex;
  flex-direction: column;
  transform: translateY(20px); 
  transition: opacity 0.4s ease, transform 0.4s ease; 
  animation-delay: 1.2s;
}
.publicacões{
  width: 60%;
  display: flex;
  flex-direction: column;
  transform: translateY(20px); 
  transition: opacity 0.4s ease, transform 0.4s ease; 
  animation-delay: 1.2s;
}

.ensino{
  width: 60%;
  display: flex;
  flex-direction: column;
  transform: translateY(20px); 
  transition: opacity 0.4s ease, transform 0.4s ease; 
  animation-delay: 1.2s;
}


/* Animação */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
